@model NiceShop.Web.Models.Administration.Home.HomeManageViewModel

<h1>@(this.Model.Name) магазин</h1>

<ul>
    @foreach (var category in this.Model.Categories)
    {
        <li>
            @category.Name
            <ul>
                @foreach (var product in category.Products)
                {
                    <li>
                        @product.Name
                        <ul>
                            @foreach (var item in product.Items)
                            {
                                <li>
                                    @item
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
</ul>