@model NiceShop.Web.Models.Administration.ViewModels.SubLayoutViewModel

<form asp-controller="Home" asp-action="Index" method="post">
    <div class="form-group row">
        <label asp-for="Shop" class="col-form-label"></label>
        <div class="col">
            <select asp-for="Shop" asp-items="@this.Model.Shops" class="form-control"></select>
        </div>
        <label asp-for="Category" class="col-form-label"></label>
        <div class="col">
            <select asp-for="Category" asp-items="@this.Model.Categories" class="form-control"></select>
        </div>
        <label asp-for="SortTerm" class="col-form-label"></label>
        <div class="col">
            <select asp-for="SortTerm" asp-items="@this.Model.SortTerms" class="form-control"></select>
        </div>
        <div class="col">
            <input type="submit" value="Приложи" class="btn btn-outline-dark form-control" />
        </div>
    </div>
</form>
