@model NiceShop.Web.Areas.Administration.Models.BindingModels.CreateProductBindingModel

@{
    ViewData["Title"] = "Create";
    var categories = this.ViewData["categories"] as IEnumerable<SelectListItem>;
    var shops = this.ViewData["shops"] as IEnumerable<SelectListItem>;
}

<h1>Create</h1>

<h4>CreateProductViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="col form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" asp-items="categories" class="form-control"></select>
                </div>
                <div class="col form-group">
                    <label asp-for="ShopId" class="control-label"></label>
                    <select asp-for="ShopId" asp-items="shops" class="form-control"></select>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label asp-for="BoughtFor" class="control-label"></label>
                    <input asp-for="BoughtFor" class="form-control" />
                    <span asp-validation-for="BoughtFor" class="text-danger"></span>
                </div>
                <div class="col form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
